
*{
	margin: 0;
	padding: 0;
}
@charset "utf-8";
body{font-size:14px;background-color:#fff;}
/*reset*/
body,div,p,ul,li,table,tbody,tr,td,textarea,form,input,h1,h2,h3,h4,h5,dl,dt,dd,img,iframe,header,nav,section,article,footer,figure,figcaption,menu{margin:0;padding:0;}
body{font-family:"\5FAE\8F6F\96C5\9ED1",Helvetica;-webkit-user-select:none;width:100%;height:100%;-webkit-display:box;-webkit-box-orient:vertical;-webkit-user-select:none;}
header,nav,section,article,footer,figure,figcaption{display:block;}
ol,ul{margin:0;padding:0;list-style:none;}
fieldset{border:none;margin:0;padding:0;}
a,li,ul,[onclick]{-webkit-tap-highlight-color:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
table{border-collapse:collapse;border-spacing:0;}
em,strong{font-weight:normal;font-style:normal;}
a{text-decoration:none;}
img{display:block;pointer-events: none;}
input{border-width: 0;border-style: none;}
button{padding: 0;border-width: 0;display: block;}

input {
    outline: none; }
    @media screen and (max-width: 640px) {
    html {
        font-size: 100px;
    }
}

@media screen and (min-width: 320px) {
    html {
        font-size: 100px;
    }
}

@media screen and (min-width: 360px) {
    html {
        font-size: 112.5px;
    }
}

@media screen and (min-width: 400px) {
    html {
        font-size: 125px;
    }
}

@media screen and (min-width: 440px) {
    html {
        font-size: 137.5px;
    }
}

@media screen and (min-width: 480px) {
    html {
        font-size: 200px;
    }
}

@media screen and (min-width: 640px) {
    html {
        font-size: 200px;
    }
}

html {
    font-size:26.67vw;
}
html{
    width:100%;
    height:100%;
    /*position:relative;*/
}
body{
  width:100%;
  height:100%;
}

/* -------------选择直播人群--------------- */
.top{
    width: 86%;
    background: rgba(241, 158, 33, 0.5);
    margin-top: .22rem;
    margin-left: 5%;
    margin-bottom: .4rem;
    border-radius: 8%;
    padding: .2rem 2%;
}
.top .title{
    font-size: .16rem;
    color: #f8f8f8;
}
.top input{
    color: #666;
    font-weight: 600;
    font-size: .2rem;
    margin-top: .06rem;
    background: none;
    text-align: center;
    width: 90%;
    margin-left:5%;
    height: .4rem;
    border-bottom: .01rem solid #fff;
   
}
.choose{
    background: #ffffff;
    width: 96%; 
    margin-left: 2%;
    border-top-right-radius: .3rem;
    border-top-left-radius: .3rem;
}
.choose .c-title{
    color: rgb(241, 158, 33);
    font-size: .18rem;
    margin: .2rem;
    font-weight: 600;
}
.choose .item{
    background: #f8f8f8;
    border-radius: .3rem;
    width: 60%;
    margin-top: .2rem;
    padding-left: 10%;
    line-height: .4rem;
    height: .4rem;
    display: -webkit-flex;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
    margin-left: 5%;
}
.choose .item label{
    color: rgb(36, 10, 10);
    font-size: .16rem;
    margin-right: .1rem;
    display: block;
    width: 60%;
}
.choose .item.active label{
    color: #e7519d;
}
.choose .item svg{
    font-size: .2rem;
    display: none;
}
.choose .item.active svg{
    font-size: .2rem;
    display: block;
}

.start{
    width: 1.6rem;
    background: #e7519d;
    color: #fff;
    height: .4rem;
    font-size: .2rem;
    border-radius: .2rem;
    position: fixed;
    left: 0;
    right: 0;
    bottom: .2rem;
    margin: auto;
}


/* -------------直播界面--------------- */
.video-box{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}
#video{
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: 0;
    object-fit: fill !important;
    position: absolute;
    left: 0;
    top: 0;
}

video {
    object-position: 0 0;
}

.ving{
    z-index: 9999; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.v-shadow{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    color: #fff;
}
.bottpop{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30%;
    z-index: 9998;
    background: -webkit-linear-gradient(rgba(255,255,255,0.01), rgba(0,0,0,.32)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(rgba(255,255,255,0.01), rgba(0,0,0,.32)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(rgba(255,255,255,0.01), rgba(0,0,0,.32)); /* Firefox 3.6 - 15 */
    background: linear-gradient(rgba(255,255,255,0.01), rgba(0,0,0,.32)); /* 标准的语法 */
}
.v-teacher,.v-shex{
    position: absolute;
    top: .1rem;
    left: .06rem;
    font-size: .16rem;
    display: -webkit-flex;
	display: flex;
	flex-flow: row nowrap;
    align-items: center;
    color: #ab5407;
}
.v-shex{
	top: 88%;
}
.v-teacher img{
    width: .35rem;
    height: .35rem;
    border-radius: 50%;
    background: #fff;
    margin-right:.05rem;
}
.v-title{
    position: absolute;
    top: .7rem;
    left: .06rem;
    font-size: .18rem;
    color: #2f6dce;
}
.v-visiters{
    position: absolute;
    top: .1rem;
    right: .06rem;
    font-size: .14rem;
    display: -webkit-flex;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}
.v-visiters img{
    width: .3rem;
    height: .3rem;
    border-radius: 50%;
    background: #fff;
    margin-left:-.1rem;
}
.v-visiters img:last-of-type{
    margin-right: .1rem;
}
.v-visiters,.v-shex span{
    margin-left:.1rem;
    color: #e264a9;
}
.v-gift{
    position: absolute;
    top: 1rem;
    right: .1rem;
    font-size: .14rem;
    display: -webkit-flex;
	display: flex;
	flex-flow: column;
    align-items: center;
    color: #ec83b8;
}
.v-gift span{
    margin-top: .08rem;
}
.v-comment{
    position: absolute;
    bottom: .3rem;
    left: .06rem;
    font-size: .16rem;
    width: 4rem;
    overflow-y: hidden;
    max-height: 3.6rem;
    z-index: 9999;
}
.v-comment ul{
    margin-bottom: .1rem;
    width: 100%;
    /* height: 3rem; */
    /* max-height: 3rem; */
    
}
.v-name{
    color: #0ff;
}
.v-givegift{
    position: absolute;
    bottom: .3rem;
    right: .2rem;
    z-index: 9999;

}

.v-share{
    position: absolute;
    bottom: 1.5rem;
    right: .2rem;
    z-index: 9999;
}

.comment-content{
    width: 98%;
    border-top-right-radius: .1rem;
    border-top-left-radius: .1rem;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 1%;
    display: none;
    z-index: 10001;
}
.comment-content textarea{
    width: 98%;
    height: .8rem;
    margin-top: .3rem;
    font-size: .16rem;
    padding: 0 1%;
    border: none;
}
.comment-content .send{
    width: 100%;
    border: none;
    border-top: 1px solid #ec83b8;
    text-align: center;
    font-size: .19rem;
    background: none;
    height: .6rem;
    z-index: 10000;
}
/* 直播结束 */
.vend{
    z-index: 10002; 
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.68);
    text-align: center;
    display: none;
}
.e-title{
    height: .8rem;
    line-height: .8rem;
    border-bottom: .01rem solid #ddd;
    font-size: .2rem;
    text-align: center;
    position: relative;
}
.e-title svg{
    float: right;
    position: absolute;
    right: .1rem;
    top: 0;
    bottom: 0;
    margin: auto;
}
.es-title{
    font-size: .21rem;
    color: #59f9ce;
    margin: .4rem 0;
}
dl{
    display: -webkit-flex;
	display: flex;
	flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    font-size: .18rem;
    font-weight: 600;
    width: 80%;
    margin-left: 10%;
    line-height: .6rem;
}
dt{
    width: 2rem;
    text-align: right;
}
dd{
    width: 42%;
    text-align: left;
}

.delete{
    width: 2rem;
    height: .65rem;
    border-radius: .6rem;
    border: none;
    background: rgba(23, 173, 218, 0.96);
    font-size: .2rem;
    color: #fff;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 1.2rem;
    margin: auto;
}
